extends layout

block body
    .container
        h1.page-header Todo # #{id}
        ul.list-group
            li.list-group-item 
                = content
            li.list-group-item Created: #{date}
        
    